/* Apply blue theme to headings and labels */
.blue-theme {
    color: blue;
  }
  
  /* Styles for the main container */
  .de {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Use min-height for full page coverage */
    background-color: #f0f0f0;
    margin: 0; /* Remove default margin */
  }
  
  /* Styles for the content container */
  .dec {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1200px;
    width: 100%;
  }
  
  /* Styles for headings */
  .dec h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Styles for form elements */
  .evaluation-formt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Add margin for separation */
  }
  
  .evaluation-formt select {
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    font-size: 16px; /* Increase font size for better readability */
  }
  
  .evaluation-formt table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .evaluation-formt th,
  .evaluation-formt td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .evaluation-formt .parameter-input {
    width: 50px;
  }
  
  .evaluation-formt .total-marks-containert {
    margin-top: 20px;
  }
  
  .evaluation-formt .total-marks-label {
    font-weight: bold;
  }
  
  .evaluation-formt .total-marks-value {
    display: inline-block;
    margin-left: 10px;
  }
  
  .evaluation-formt .total-marks-input {
    width: 50px;
  }
  
  .evaluation-formt .remarkst {
    margin-top: 20px;
    text-align: left;
  }
  
  .evaluation-formt textarea {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 16px; /* Increase font size for better readability */
  }
  
  .evaluation-formt .submit-button {
    margin-top: 20px;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Add transition for hover effect */
  }
  
  .evaluation-formt .submit-button:hover {
    background-color: #0070e0; /* Change color on hover */
  }
  
  /* Toast container styles */
  .Toastify__toast-container {
    position: fixed; /* Fixed position for toast container */
    top: 20px; /* Adjust top position as needed */
    right: 20px; /* Adjust right position as needed */
    padding: 10px;
  }
  
  .Toastify__toast {
    margin-top: 10px;
  }
  